
 /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  padding-top: 80px;
  top: 5px;  
  z-index: 10;
}

.carousel-caption h2{
    font-weight: normal;
}

.carousel-caption .btn-danger {
    border-bottom:2px solid #af4451;
    border-top:2px solid #9a3c47;
}

.carousel-caption .btn-success {
    border-bottom:2px solid #41996c;
    border-top:2px solid #39865f;
}

.carousel-caption .btn-info {
    border-bottom:2px solid #098aa9;
    border-top:2px solid #087994;
}


.carousel-caption > p > a {
    width: 150px;
    font-size: 20px;
    font-weight: bold;

}
.caption-text {
  background-color: black;
  opacity: 0.4;

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

    .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

    }


    @media (max-width: 768px) {

      
  /* Bump up size of carousel content */
  .carousel-caption h1 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.4;
  }

  .carousel-caption h2 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.4;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
  }

    }